<!DOCTYPE html>
<html>
<!-- Meta Data 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FIRE Hub</title>
    <meta name="author" content="Holden Maudlin">
    <meta name="description" content="FIRE Hub informational website.">
    <meta name="keyword" content="FIRE Hub, FI, FIRE, Financial Independence, Retiring Early, Early Retirement">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Styles 
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    {% load static %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'firehub/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'media/flamemint32x32.png'%}">
    <script src="main.js"></script>
    <!-- Icons 
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!-- Google Analytics
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132960774-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-132960774-1');
    </script>
</head>
<!-- Start of Main Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<body>
    <div class="container">
        <!-- Title
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="head-container">
            <img class="fire" src="{% static 'media/flamemint.png'%}"/>
            <h1>FIRE Hub</h1>
        </div>
        <h3>Visualize your path to retirement!</h3>
        <div class="bodyContainer">
            <div class="line">
                <div class="lineHead">
                    <i class="fas fa-piggy-bank fa-2x"></i>
                </div>
                <span>
                    Retirement tools to help you calculate how long you can expect until retirement!
                </span>
            </div>
            <div class="line">
                <div class="lineHead">
                    <i class="fas fa-bezier-curve fa-2x"></i> 
                </div>
                <span>
                    Run thousands of simulations with customizable inputs to see a wide array of possible portfolio paths.
                </span>
            </div>
            <div class="line">
                <div class="lineHead">
                    <i class="fas fa-book-open fa-2x"></i>
                </div>
                <span>
                    Browse books, podcasts, and forum posts related to Financial Independence.
                </span>
            </div>
            <div class="line">
                <div class="lineHead">
                    <i style="margin-left: 4px;" class="fas fa-arrow-circle-down fa-2x"></i> 
                </div>
                <span>
                    Download for FREE on the <a href="https://itunes.apple.com/us/app/fire-hub/id1448963860?ls=1&mt=8">App Store</a>! (Android support coming soon!)
                </span>
            </div>
        </div>
        <div class="store-container">
            <a style="display: inline-block" href="https://itunes.apple.com/us/app/fire-hub/id1448963860?ls=1&mt=8">
                <object type="image/svg+xml" data="../../static/media/AppStore.svg">
                    Download on the App Store!
                </object>
            </a>
            <a href='https://play.google.com/store/apps/details?id=com.holdenmaudlin.firehub&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                <img class="google-play" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/>
            </a>
        </div>
        <p><a href="{% static 'media/FireHubPrivacyPolicy.pdf'%}"}>Privacy Policy</a></p>
    </div>
</body>
<!-- End of Main Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
</html>