<!DOCTYPE html>
<html>
<!-- Meta Data 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Holden Maudlin</title>
    <meta name="author" content="Holden Maudlin">
    <meta name="description" content="Holden Maudlin personal website.">
    <meta name="keyword" content="Maudlin, Holden, Holden Maudlin, Maudlin Holden">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Styles 
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    {% load static %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'index/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'media/favicon.png'%}">
    <script src="main.js"></script>
    <!-- Icons 
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Google Analytics
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132960774-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-132960774-1');
    </script>
</head>
<!-- Start of Main Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<body>
    <div class="container">
        <!-- Title
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <div class="contentContainer">
            <div class="headContainer">
                <div class="imageWrapper">
                    <div class="imageContainer">
                        <img class="image" src="{% static 'media/holdenmaudlinsquare.png'%}"/>
                    </div>
                </div>
                <div class="titleContainer">
                    <div class="header">
                        <a>Holden Maudlin</a>
                    </div>
                    <!-- Icon Bar
                    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <ul class="iconContainer">
                        <a title="Linked In" href="https://www.linkedin.com/in/holden-maudlin/" target="_blank" class="link">
                            <li class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x" id="circle"></i>
                                <i class="fa fa-linkedin fa-stack-1x" id="icon"></i>
                            </li>
                        </a>
                        <a title="GitHub" href="https://github.com/HoldenMaudlin" target="_blank" class="link">
                            <li class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x" id="circle"></i>
                                <i class="fa fa-github fa-stack-1x" id="icon"></i>
                            </li>
                        </a>
                        <a title="Resume" href="{% static 'media/MaudlinHolden2019.pdf'%}" class="link">
                            <li class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x" id="circle"></i>
                                <i class="fa fa-file-o fa-stack-1x" id="icon"></i>
                            </li>
                        </a>
                        <a title="Facebook" href="https://www.facebook.com/holden.maudlin" target="_blank" class="link">
                            <li class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x" id="circle"></i>
                                <i class="fa fa-facebook fa-stack-1x" id="icon"></i>
                            </li>
                        </a>
                        <a title="Instagram" href="https://www.instagram.com/holden.maudlin/" target="_blank" class="link">
                            <li class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x" id="circle"></i>
                                <i class="fa fa-instagram fa-stack-1x" id="icon"></i>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
            <!-- Content
            ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <div class="bodyContainer">
                <div class="line">
                    <div class="lineHead">
                        <span><b>About: </b></span> 
                    </div>
                    <span>
                        Hi, I'm Holden! I am an aspiring Software Developer studying Business and Computer Science at the University of Southern California. 
                        I wrote my first line of code in July of 2018, and I haven't looked back.
                    </span>
                </div>
                <div class="line">
                    <div class="lineHead">
                        <span><b>Projects: </b></span> 
                    </div>
                    <div class="lineContent">
                        <p style="margin-top: 0px;"><a href="sudokusource">Sudoku Source mobile app</a> (Jan. 2019)</p>
                        <p style="margin-top: 0px;"><a href="firehub">FIRE Hub mobile app</a> (Nov. 2018 – Jan. 2019)</p>
                        <p><a href="https://github.com/HoldenMaudlin/MaudProp">Maud Properites website</a> (Dec. 2018)</p>
                        <p style="margin-bottom: 0px;"> <a href="https://github.com/HoldenMaudlin/Hello-World">Hello World!</a> (Jul. 2018)</p>
                    </div>
                </div>
                <div class="line">
                    <div class="lineHead">
                        <span><b>Contact: </b></span> 
                    </div>
                    <span>holden.maudlin@gmail.com</span>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- End of Main Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
</html>