/* Background styles */
html {
    min-height: 100%;
    display: flex;
}
body {
    background-color: #f9f9f9;
    flex: 1;
    margin: 0;
    display: flex;
    color: black;    
    font-family: 'Courier New', Courier, monospace;;
    font-size: 13pt;
}

/* Store Icons */
.google-play {
    width: 150px;
    padding: 0px;
    margin-bottom: -8px;
}

.store-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

/* Adjust container based on screen size */
@media only screen and (max-width: 680px) {
    .container {
        flex: 1;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 5%;
        padding-bottom: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (min-width: 680px) {
    .container {
        flex: 1;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 5%;
        padding-bottom: 5%;
        max-width: 1080px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* Header container */
@media only screen and (min-width: 680px) {
    .headContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    .imageWrapper {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .imageContainer {
        margin-right: 0px;
        height: 150px;
        width: 150px;
        border-radius: 75px;
        flex-direction: row;
        align-items: flex-end;
        box-shadow: 2px 6px 10px rgba(0,0,0,0.3);
    }
    .titleContainer {
        display: flex;
        flex: 2;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 50px;
    }
    .header {
        font-size: 32pt;
        animation: typing 2.2s steps(14), blink 1.3s infinite;
        overflow: hidden;
        white-space: nowrap;
        font-family: 'Courier New', Courier, monospace;
        border-right: 4px solid;
        margin-left: 10px;
    }
}
@media only screen and (max-width: 680px) {
    .headContainer {
        display: flex;
        flex-direction: column;
        align-items: flex;
        justify-content: center;
    }
    .imageContainer {
        height: 150px;
        width: 150px;
        border-radius: 75px;
        box-shadow: 2px 6px 10px rgba(0,0,0,0.3);
        margin-bottom: 10px;
    }
    .titleContainer {
        display: flex;
        flex: 2;
        flex-direction: column;
        align-items: center;
        justify-content: center;    
    }
    .header {
        font-size: 32pt;
        animation: typing 2.2s steps(14), blink 1.3s infinite;
        overflow: hidden;
        white-space: nowrap;
        font-family: 'Courier New', Courier, monospace;
        border-right: 4px solid;
    }
}

/* Header */
.image {
    max-height: 150px;
    max-width: 150px;
    height: auto;
    width: auto;
    border-radius: 75px;
}


/* Typing animation */
@keyframes typing {
    0% {
        width: 0ch;
    }
    100% {
        width: 14ch;
    }
}
/* Cursor */
@keyframes blink {
    20% {
        border-right: 4px solid rgba(0, 0, 0 ,1);
    }
    20.001% {
        border-right: 4px solid rgba(0, 0, 0 ,0.01);
    }
    60% {
        border-right:4px solid rgba(0, 0, 0 ,0.01);
    }
    60.001% {
        border-right:4px solid rgba(0, 0, 0 ,1);
    }
}
/* Icon container styles */
.iconContainer {
    height: 40px;
}
ul {
    display: block;
    list-style: none;
    padding-left: 0px;
    text-align: center;
}
li {
    display: inline-block;
}
.link {
    text-decoration: none;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    transition: color 0.25s linear;
    -webkit-transition: color 0.25s linear;
    -moz-transition: color 0.25s linear;
}
.link:hover {
    text-decoration: none;
    color: #4169E1;
}
#circle {
    text-shadow: 1px 3px 10px rgba(0,0,0,0.3);
}
#icon {
    color: white
}

/* Content container */
.bodyContainer{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}
/* Content line container */
.line {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}
.lineHead {
    position: relative;
    width: 60px;
    min-width: 60px;
    margin-right: 20px;
    align-items: center;
} 
.lineHead span {
    float: right
}
.lineContent {
    display: block;
}
b {
    margin-right: 5px;
}
.lineContent a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
}
.lineContent a:hover {
    text-decoration: none;
    color: #4169E1;
    border-bottom-color: #4169E1;
}